* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
  justify-content: center;
}
.logo {
  margin-right: 100px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background: grey;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hamburger {
  color: white;
  justify-content: center;
  visibility:hidden;
}

.menu {
  display: flex;
  justify-content: space-between;

}

.navbar > ul > li {
  list-style: none;
  padding-right: 20px;
  color: white;
}

main {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
.product {
  width: 33%;
  margin-left: 20px;
  margin-right: 10px;
  box-shadow: 0 0 1em grey;
}

.product i, h2, p  {
  margin-top: 5px;
  display: block;
  text-align: center;

}

p {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.social {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

footer {
  width: 100%;
}

.social > li {
  list-style: none;
}

@media (max-width: 1200px) and (max-height: 1000px)  {

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  body{
    justify-content: center;
  }

  main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 100px;
    align-items: center;
  }

  .product {
    justify-content: center;
    width: 90%;
    margin: 10px 50px 10px 50px;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    align-items: center;
  }

  .hamburger {
    visibility: visible;
    position: absolute;
    margin-right: 20px;

  }

  .menu {
    visibility: hidden;
  }

}

@media (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
  }
  .logo{
    margin: 0;
  }
}
